// Variables para modo claro
$primary-color-light: #fff;
$secondary-color-light: #f0f0f0;
$text-color-light: #000;

// Variables para modo oscuro
$primary-color-dark: #000;
$secondary-color-dark: hsl(274, 82%, 60%);
$text-color-dark: #fff;

// Variables de CSS personalizadas
:root {
  --primary-color-light: #{$primary-color-light};
  --secondary-color-light: #{$secondary-color-light};
  --text-color-light: #{$text-color-light};

  --primary-color-dark: #{$primary-color-dark};
  --secondary-color-dark: #{$secondary-color-dark};
  --text-color-dark: #{$text-color-dark};

  // Variables por defecto
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --text-color: var(--text-color-light);
}

// Aplicar las variables en modo oscuro automáticamente si el sistema está en modo oscuro
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --text-color: var(--text-color-dark);
  }
}



// fuentes
$font-family-serif: "Lora", Times, serif;
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "Inconsolata", monospace;

:root {
    --font-family: #{$font-family-serif}; // Fuente por defecto: Serif
}

.serif__font {
    font-family: $font-family-serif;
}

.sans-serif-font {
    font-family: $font-family-sans-serif;
}

.monospace-font {
    font-family: $font-family-monospace;
}
