@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/extends";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include font(400);
}

.serif__font {
  font-family: $font-family-serif;
}

.sans__serif__font {
  font-family: $font-family-sans-serif;
}

.monospace__font {
  font-family: $font-family-monospace;
}

a {
  text-decoration: none
}

body {
  @extend %flexColumn;
  font-family: var(--font-family);
  margin-bottom: 2rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  .main {
    min-width: 700px;
    max-width: 700px;
    .main__top {
      @extend %flexRow;
      padding: 2rem 0.5rem;

      .top__right {
        @extend %flexRow;
        gap: 1rem;
        .right__menu {
          display: flex;
          gap: 1rem;
          align-items: center;
          position: relative;
          .menu__items {
            top: 100%;
            left: 0;
            margin-top: 1rem;
            position: absolute;
            list-style-type: none;
            line-height: 2rem;
            z-index: 1000;
            padding: 1rem;
            background-color: var(--primary-color);
            color: var(--text-color);
            border-radius: 10px;
            box-shadow: 2px 4px 10px var(--secondary-color);
            .items__item {
              cursor: pointer;
            }
            .items__item:hover {
              color: hsl(274, 82%, 60%);
            }
          }
          .font__icon {
            cursor: pointer;
          }
        }
        .right__right {
          display: flex;
          align-items: center;
          .right__toggle {
            display: inline-block;
            margin: 20px;
            .toggle__switch {
              position: relative;
              display: inline-block;
              width: 49.13px;
              height: 24.57px;
              .switch__slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: hsl(0, 0%, 51%);
                transition: 0.4s;
                border-radius: 24.57px;
              }
              .switch__slider::before {
                position: absolute;
                content: "";
                height: 19.65px;
                width: 19.65px;
                left: 2.45px;
                bottom: 2.45px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
              }
              input:checked + .switch__slider::before {
                transform: translateX(24.57px);
              }
              .switch__slider.round {
                border-radius: 20px;
              }
              .switch__slider.round:before {
                border-radius: 50%;
              }
            }
            .toggle__switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }
          }
          .right__separator {
            border-left: 1px solid #d9d9d9;
            height: 34px;
            margin: 0 10px;
          }
        }
      }
    }
    .main__search {
      width: 100%;
      .search__form {
        width: 100%;
        .form__container {
          width: 100%;
          position: relative;
          .container__input {
            width: 100%;
            padding: 1rem;
            border-radius: 15px;
            border: none;
            font-size: 18px;
            background-color: var(--input-background);
            color: hsl(0, 0%, 51%);
          }
          .container__error {
            border: 1px solid hsl(0, 100%, 66%);
          }
          .container__input::placeholder {
            font-family: var(--font-family);

          }
          // .container__input:focus,
          // .container__input:focus-within {
          //   border: none;
          //   outline: none;
          // }
          .container__button {
            border: none;
            position: absolute;
            right: 1rem;
            bottom: 0.9rem;
            cursor: pointer;
            background-color: var(--input-background);
          }
        }
      }
      .search__error {
        color: hsl(0, 100%, 66%);
        margin-top: 1rem;
      }
      .search__content {
        padding: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        @extend %flexRow;
        .content__top {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .top__title {
            @include font(600, 60px);
          }
          .top__subtitle {
            @include font(500, 25px);
            color: hsl(274, 82%, 60%);
          }
        }
        .player__button {
          background-color: var(--primary-color);
          border: none;
          cursor: pointer;
        }
      }
      .search__meanings {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
        .meanings__container {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          .container__type {
            display: flex;
            align-items: center;
            gap: 1rem;
            .type__category {
              @include font(600, 23px);
            }
            .type__line {
              border: 1px solid hsla(0, 0%, 91%, 0.5);
              transform: 90;
              width: 100%;
            }
          }
          .container__title {
            color: hsl(0, 0%, 51%);
            @include font(300, 20px);
          }
          .container__list {
            list-style-type: none;
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            .item__example {
              display: block;
              margin-top: 1rem;
              color: hsl(0, 0%, 51%);
            }
          }
          .container__list .list__item {
            position: relative;
            line-height: 1.5;
          }
          .container__list .list__item::before {
            content: "•";
            color: hsl(274, 82%, 60%);
            font-size: 1.5;
            margin-right: 1rem;
            position: absolute;
            left: -1.5em;
          }
          .container__synonyms {
            display: flex;
            gap: 1rem;
            .synonyms__title {
              color: hsl(0, 0%, 51%);
            }
            .synonyms__content {
              display: flex;
              word-spacing: 1rem;
              .content__item {
                color: hsl(274, 82%, 60%);
                @include font(600, 18px);
              }
            }
          }
        }
      }
      .search__source {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .source__line {
          border: 1px solid hsla(0, 0%, 91%, 0.5);
        }
        .source__files {
          display: flex;
          gap: 1rem;
          .files__title {
            @include font(400, 14px);
            color: hsl(0, 0%, 51%);
          }
          .files__url {
            @include font(400, 14px);
            color: var(--font-family);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    .main {
      min-width: 500px;
      max-width: 500px;
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 520px) {
  body {
    .main {
      min-width: 400px;
      max-width: 400px;
     
      .main__top {
        padding: 2rem 0;
      }
    }
  }
}
